# OneSignal Configuration (Copy this to .env.local or Vercel Environment Variables)
ONESIGNAL_APP_ID=82892143-d160-4756-8b63-327b8f69a41e
ONESIGNAL_REST_API_KEY=os_v2_app_qkescq6rmbdvnc3dgj5y62ned2zfii4huxkebv4v5ple3d6ofwb2ne24l7wwz4tcb6uns3rsps2qmhntrvo7adviazlzpjepzmt4c2y
