node_modules/
dist/
build/
.taro/
.cache/
.temp/
.swc/
lib/

.pai/

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.local
.env
.env.*
!.env.example

coverage/
.eslintcache

.vercel
.env*
